altair==4.2.2
beautifulsoup4==4.12.1
lxml==4.9.2
markdown-it-py==2.2.0
markupsafe==2.1.2
numpy==1.24.2
openpyxl==3.1.2
pandas==1.5.3
pyarrow==11.0.0
pydeck==0.8.0
pygments==2.14.0
pympler==1.0.1
pyrsistent==0.19.3
pytz==2023.3
requests==2.28.2
soupsieve==2.4
streamlit==1.21.0
tqdm==4.65.0
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
wheel==0.40.0
xlsxwriter==3.0.9
